body {
    font-family: Arial, sans-serif;
}
.tabs {
    display:flex;
    border-bottom: 10px solid green;
    margin-bottom: 50px;
}
.tab {
    padding: 30px 70px;
    cursor: pointer;
    background: #f1f1f1;
    border: 1px solid #ccc;
    margin-right: 5px;
    border-bottom: none;
}
.tab.active {
    background:lightcyan;
    font-weight: bold;
}
.sheet {
    display: none;
}
.sheet.active {
    display: block;
}

.hidden {
    display: none;
}
